canvas {
  // アニメーションさせる要素の固定化
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.mainContents {
  text-align: center;
  width: 500px;
  padding: 20px;
  color: #fff;

    @media (max-width: 820px) {
      h2 {
        font-size: 22px;
      }

      p {
        width: 250px;
        font-size: 16px;
      }
    }

    h3 {
      letter-spacing: 1.8px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 4rem;
    }


  section {
    width: 100%;
    min-height: 100vh;
    // padding: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: #fff;
    }
  }
}
